.App{
    
    height:100%;
    width:100%;
}
.head{
    background-color: aliceblue;
    opacity: 90%;
    padding:20px;
    margin: 20px;
   
}
.chores{
    background-color: rgba(255, 255, 255, 0.6);
    padding:10px;

    
}
.choreCard{
    background-color: rgb(48, 149, 238);
    padding: 10px;
    margin: 10px;
}
h2,h3,p{
    margin: 0;
}